.Button {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    min-width: 75px;
    display: flex;
    justify-content:center;
    width: auto;
    border: none;
}

.Button:focus {
    background-color: #c43a51;
}

.ChangeImage,
.ChangeImage:hover {
    display: inline-block; 
    background-color: #338f85;
    color: white
}

.Purple,
.Purple:focus,
.Purple:active {
    display: inline-block;
    background-color: #6C63FF; 
    color: black; 
    border: none;
}

.Purple:hover,
.Purple:hover:active {
    background-color: #afade0!important;
    color: black!important;
    border: none;
    font-weight: bold;
}

.Red,
.Red:focus,
.Red:active {
    display: inline-block;
    background-color: #c43a51;
    color: white;
    border: none;
}

.Red:hover,
.Red:hover:active {
    background-color: #e02141!important;
    color: white!important;
    border: none;
    font-weight: bold;
}

.Unfollow,
.Unfollow:focus,
.Unfollow:active {
    background-color: #afade0;
    color: black; 
    border: none;   
}

.Unfollow:hover,
.Unfollow:hover:active {
    background-color: #6C63FF!important;
    color: black!important;  
    border: none;
    font-weight: bold;
}

.Unfan,
.Unfan:focus,
.Unfan:active {
    background-color: #ffc0cb;
    color: black;
    border: none;
}

.Unfan:hover,
.Unfan:hover:active {
    background-color: #c43a51!important;
    color: white;
}

.Reset {
    background-color: white;
    color: rgb(65, 65, 70);
    margin: 0 auto;
    border: none;
}

.Reset:hover {
    background-color: white;
    color: rgb(65, 65, 70);
    font-weight: bold;
    border: none;
}