.Owner {
    margin-right: 10px;
    color: #338f85;
    font-weight: bold;
}

.Date {
    font-weight: lighter;
}

.DateIcon {
    font-size: smaller;
    color: rgb(65, 65, 70);
}

.LikeUnlike {
    font-size: smaller;
    color: #c43a51;
}

.LikeUnlike:hover {
    color: #c43a51;
}