.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    margin-right: 10px;
    letter-spacing: 2px;
}

.Active i {
    color: #a78db6;
} 

#dropdownMenu {
    color:rgb(65, 65, 70);
    padding: 5px;
    margin-top: -5px;
    letter-spacing: 2px;
}