.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    margin-right: 10px;
    letter-spacing: 2px;
}

.Active i {
    color: #6C63FF;
} 

#dropdownMenu {
    color:rgb(65, 65, 70);
    padding: 5px;
    margin-top: -5px;
    letter-spacing: 2px;
}

@media screen and (max-width: 992px) {

    .NavLink {
        margin-right: 0px;
        letter-spacing: 0;
    }

    .NavLink:hover,
    #dropdownMenu{
        font-weight: normal;
        color: black;
    }
}