.App {
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(231, 225, 225);
    min-height: 100vh;
}
  
.Main {
    padding-top: 100px;
}
  
* {
    box-sizing: border-box;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

a {
    color: rgb(65, 65, 70);
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(65, 65, 70);
}

a:hover i {
    color: #a78db6;
    transition: color ease-in-out 0.3s;
} 

i {
    color: #338f85;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #a78db6;
}